@import '_settings';

.related-products {
    margin-top: $big-spacing;

    h3 {
        margin: 0 0 $minor-spacing;
    }

    .related-item {
        width: 100px;
        padding: 0 $default-spacing;
        float: left;
        min-height: 120px;
        text-align: center;

        img {
            margin-bottom: $default-spacing;
            max-height: 80px;
        }

        h4 {
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .ch-carousel-disabled {
        display: block;
        opacity: 0.5;
    }
}
