// Colors

$default-gray: #ccc;
$price: #C70C0C;
$dark-blue: #3D548A;
$light-blue: #90C3D4;
$dark-green: #176326;
$light-green: #A1D490;

// Spacing

$minor-spacing: 5px;
$default-spacing: 10px;
$medium-spacing: 15px;
$big-spacing: 20px;
