@import '_settings';
@import '_base';
@import '_product-vip-session';
@import '_related-products';
@import '_tabs';

body {
    padding: $medium-spacing;
}

.product {

    &-box {
        width: 800px;
        border: 2px solid $default-gray;
        padding: $default-spacing;

        .main-product-title {
            margin: 0 0 $default-spacing;
        }

        .price {
            color: $price;
            
            &.main {
                font-weight: bold;
                font-size: 28px;
                line-height: 20px;
                margin-bottom: $medium-spacing;
            }
        }
    }

    &-settings {
        margin-bottom: $medium-spacing;

        > label {
            margin-bottom: $medium-spacing;
        }
    }

    &-price-container {
        padding-left: $default-spacing;
        float: left;

        .observation {
            margin-top: $default-spacing;
        }
    }

    &-info {
        margin-top: $big-spacing;
    }

}


